<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.InBoxFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.InBoxForm">
        <result column="CHARG" property="charg" />
        <result column="STACK_CODE" property="stackCode" />
        <result column="MATERIAL" property="material" />
        <result column="BOX_CODE" property="boxCode" />
        <result column="TRADE_CODE" property="tradeCode" />
        <result column="UNIT" property="unit" />
        <result column="NET_WEIGHT" property="netWeight" />
        <result column="GROSS_WEIGHT" property="grossWeight" />
        <result column="BUNDLE_NUM" property="bundleNum" />
        <result column="BOX_NO" property="boxNo" />
        <result column="PALLETID" property="palletid" />
        <result column="ID" property="id" />
        <result column="CREATETIME" property="createtime" />
        <result column="UPLOADMARK" property="uploadmark" />
        <result column="CountU" property="CountU" />
    </resultMap>

</mapper>
