<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.OutBoxFormFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.OutBoxFormFlow">
        <result column="FLOW_ID" property="flowId" />
        <result column="CHARG" property="charg" />
        <result column="STACK_CODE" property="stackCode" />
        <result column="BOX_CODE" property="boxCode" />
        <result column="NET_WEIGHT" property="netWeight" />
        <result column="GROSS_WEIGHT" property="grossWeight" />
        <result column="ID" property="id" />
        <result column="CREATETIME" property="createtime" />
    </resultMap>

</mapper>
