<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.PbcatfmtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.Pbcatfmt">
        <result column="pbf_name" property="pbfName" />
        <result column="pbf_frmt" property="pbfFrmt" />
        <result column="pbf_type" property="pbfType" />
        <result column="pbf_cntr" property="pbfCntr" />
    </resultMap>

</mapper>
