<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.PbcatvldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.Pbcatvld">
        <result column="pbv_name" property="pbvName" />
        <result column="pbv_vald" property="pbvVald" />
        <result column="pbv_type" property="pbvType" />
        <result column="pbv_cntr" property="pbvCntr" />
        <result column="pbv_msg" property="pbvMsg" />
    </resultMap>

</mapper>
