<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.PbcatcolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.Pbcatcol">
        <result column="pbc_tnam" property="pbcTnam" />
        <result column="pbc_tid" property="pbcTid" />
        <result column="pbc_ownr" property="pbcOwnr" />
        <result column="pbc_cnam" property="pbcCnam" />
        <result column="pbc_cid" property="pbcCid" />
        <result column="pbc_labl" property="pbcLabl" />
        <result column="pbc_lpos" property="pbcLpos" />
        <result column="pbc_hdr" property="pbcHdr" />
        <result column="pbc_hpos" property="pbcHpos" />
        <result column="pbc_jtfy" property="pbcJtfy" />
        <result column="pbc_mask" property="pbcMask" />
        <result column="pbc_case" property="pbcCase" />
        <result column="pbc_hght" property="pbcHght" />
        <result column="pbc_wdth" property="pbcWdth" />
        <result column="pbc_ptrn" property="pbcPtrn" />
        <result column="pbc_bmap" property="pbcBmap" />
        <result column="pbc_init" property="pbcInit" />
        <result column="pbc_cmnt" property="pbcCmnt" />
        <result column="pbc_edit" property="pbcEdit" />
        <result column="pbc_tag" property="pbcTag" />
    </resultMap>

</mapper>
