<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.PbcattblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.Pbcattbl">
        <result column="pbt_tnam" property="pbtTnam" />
        <result column="pbt_tid" property="pbtTid" />
        <result column="pbt_ownr" property="pbtOwnr" />
        <result column="pbd_fhgt" property="pbdFhgt" />
        <result column="pbd_fwgt" property="pbdFwgt" />
        <result column="pbd_fitl" property="pbdFitl" />
        <result column="pbd_funl" property="pbdFunl" />
        <result column="pbd_fchr" property="pbdFchr" />
        <result column="pbd_fptc" property="pbdFptc" />
        <result column="pbd_ffce" property="pbdFfce" />
        <result column="pbh_fhgt" property="pbhFhgt" />
        <result column="pbh_fwgt" property="pbhFwgt" />
        <result column="pbh_fitl" property="pbhFitl" />
        <result column="pbh_funl" property="pbhFunl" />
        <result column="pbh_fchr" property="pbhFchr" />
        <result column="pbh_fptc" property="pbhFptc" />
        <result column="pbh_ffce" property="pbhFfce" />
        <result column="pbl_fhgt" property="pblFhgt" />
        <result column="pbl_fwgt" property="pblFwgt" />
        <result column="pbl_fitl" property="pblFitl" />
        <result column="pbl_funl" property="pblFunl" />
        <result column="pbl_fchr" property="pblFchr" />
        <result column="pbl_fptc" property="pblFptc" />
        <result column="pbl_ffce" property="pblFfce" />
        <result column="pbt_cmnt" property="pbtCmnt" />
    </resultMap>

</mapper>
