<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsBillDetailOldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsBillDetailOld">
        <result column="BILLHEAD_ID" property="billheadId" />
        <result column="BILLID" property="billid" />
        <result column="LISTINDEX" property="listindex" />
        <result column="M_ID" property="mId" />
        <result column="PLANNUM" property="plannum" />
        <result column="PLANSWEIGHT" property="plansweight" />
        <result column="NUM" property="num" />
        <result column="SWEIGHT" property="sweight" />
        <result column="FINISHNUM" property="finishnum" />
        <result column="FINISHSWEIGHT" property="finishsweight" />
        <result column="MSTATUS" property="mstatus" />
        <result column="MCLASS" property="mclass" />
        <result column="MSPECIDEF_ID" property="mspecidefId" />
        <result column="VENDOR_ID" property="vendorId" />
        <result column="OUTCUSTOMER_ID" property="outcustomerId" />
        <result column="BATCHNO" property="batchno" />
        <result column="BATCHDEF_ID" property="batchdefId" />
        <result column="I_BILL_ID" property="iBillId" />
        <result column="PRINTTIME" property="printtime" />
        <result column="MEMO" property="memo" />
        <result column="OUTBC" property="outbc" />
        <result column="STATUS" property="status" />
        <result column="GATENO" property="gateno" />
        <result column="VEHICLENO" property="vehicleno" />
        <result column="DRIVERNAME" property="drivername" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSERID" property="createuserid" />
        <result column="ID" property="id" />
        <result column="S_Aisle" property="sAisle" />
        <result column="T_Aisle" property="tAisle" />
        <result column="billfinishtime" property="billfinishtime" />
        <result column="UPERP_FLAG" property="uperpFlag" />
        <result column="UPERP_DATE" property="uperpDate" />
        <result column="UPERP_RMSG" property="uperpRmsg" />
        <result column="PRODUCTION_DATE" property="productionDate" />
    </resultMap>

</mapper>
