<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsWorkListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsWorkList">
        <result column="BILLHEAD_ID" property="billheadId" />
        <result column="BILLID" property="billid" />
        <result column="CREATETIME" property="createtime" />
        <result column="FLAG" property="flag" />
    </resultMap>

</mapper>
