<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsHisBillHeadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsHisBillHead">
        <result column="BILLID" property="billid" />
        <result column="IOCLASS_ID" property="ioclassId" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="VENDOR_ID" property="vendorId" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="DEPT_ID" property="deptId" />
        <result column="MEMO" property="memo" />
        <result column="SOURCE_STOREDEF_ID" property="sourceStoredefId" />
        <result column="SOURCE_BILLID" property="sourceBillid" />
        <result column="SOURCE_VENDOR_ID" property="sourceVendorId" />
        <result column="SOURCE_CUSROMER_ID" property="sourceCusromerId" />
        <result column="PLANOPETIME" property="planopetime" />
        <result column="PLANFINISHTIME" property="planfinishtime" />
        <result column="ERP_BILLID" property="erpBillid" />
        <result column="ERP_ID" property="erpId" />
        <result column="TARGETID_ERP" property="targetidErp" />
        <result column="DRIVERNAME" property="drivername" />
        <result column="DRIVERTEL" property="drivertel" />
        <result column="STATUS" property="status" />
        <result column="OTHERBILLID01" property="otherbillid01" />
        <result column="OTHERBILLID02" property="otherbillid02" />
        <result column="OTHERBILLID03" property="otherbillid03" />
        <result column="CREATEBC" property="createbc" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSERID" property="createuserid" />
        <result column="ID" property="id" />
        <result column="IN_ERP_FLAG" property="inErpFlag" />
        <result column="IN_ERP_DATE" property="inErpDate" />
        <result column="billfinishtime" property="billfinishtime" />
        <result column="GATENO" property="gateno" />
        <result column="SAP_AUART" property="sapAuart" />
        <result column="SAP_FLAG" property="sapFlag" />
        <result column="SAP_ID" property="sapId" />
        <result column="VEHICLENO" property="vehicleno" />
        <result column="SAP_USER" property="sapUser" />
    </resultMap>

</mapper>
