<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsSysUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsSysUnit">
        <result column="UNITID" property="unitid" />
        <result column="UNITNAME" property="unitname" />
        <result column="BASEUNIT_ID" property="baseunitId" />
        <result column="BASERATE" property="baserate" />
        <result column="ID" property="id" />
    </resultMap>

</mapper>
