<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsWorkflowHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsWorkflowHis">
        <result column="LTIME" property="ltime" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="STACKERID" property="stackerid" />
        <result column="WORKTYPE" property="worktype" />
        <result column="PALLETID" property="palletid" />
        <result column="AISLE" property="aisle" />
        <result column="SLAYER" property="slayer" />
        <result column="SRANK" property="srank" />
        <result column="SROW" property="srow" />
        <result column="TAISLE" property="taisle" />
        <result column="TLAYER" property="tlayer" />
        <result column="TRANK" property="trank" />
        <result column="TROW" property="trow" />
        <result column="STATUS" property="status" />
        <result column="STATIONID" property="stationid" />
        <result column="GATENO" property="gateno" />
        <result column="WORKINDEX" property="workindex" />
        <result column="DEALTIME" property="dealtime" />
        <result column="ISLOCKED" property="islocked" />
        <result column="ORDERID" property="orderid" />
        <result column="CREATETIME" property="createtime" />
        <result column="SENDTIME" property="sendtime" />
        <result column="RUNTIME" property="runtime" />
        <result column="USERID" property="userid" />
        <result column="WORK_ID" property="workId" />
        <result column="ID" property="id" />
        <result column="FORKNO" property="forkno" />
        <result column="XPALLETID" property="xpalletid" />
    </resultMap>

</mapper>
