<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsAislestatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsAislestatus">
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="AISLE" property="aisle" />
        <result column="DEVSTATUS" property="devstatus" />
        <result column="STACKERSTATUS" property="stackerstatus" />
        <result column="STATUS" property="status" />
        <result column="INSTATUS" property="instatus" />
        <result column="OUTSTATUS" property="outstatus" />
        <result column="UPDATETIME" property="updatetime" />
        <result column="OUTSTATUSF" property="outstatusf" />
        <result column="DEVIN1" property="devin1" />
        <result column="DEVIN2" property="devin2" />
        <result column="StationID1" property="StationID1" />
        <result column="StationID2" property="StationID2" />
        <result column="ConveyorIN1" property="ConveyorIN1" />
        <result column="ConveyorIN2" property="ConveyorIN2" />
    </resultMap>

</mapper>
