<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsMonthChangedateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsMonthChangedate">
        <result column="MONTH_OUTCUSTOMER_ID" property="monthOutcustomerId" />
        <result column="MONTH_TIME" property="monthTime" />
        <result column="MONTH_DAY" property="monthDay" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSER" property="createuser" />
        <result column="MEMO" property="memo" />
        <result column="ID" property="id" />
        <result column="M_moneytimebefore" property="mMoneytimebefore" />
        <result column="M_moneytime_flow_before" property="mMoneytimeFlowBefore" />
        <result column="M_moneytime_flow" property="mMoneytimeFlow" />
        <result column="M_monthcarrytime" property="mMonthcarrytime" />
        <result column="ISINUSED" property="isinused" />
        <result column="ISSYS" property="issys" />
        <result column="StorePrice_Unit" property="storepriceUnit" />
        <result column="Carry_Price" property="carryPrice" />
        <result column="Cold_Price" property="coldPrice" />
        <result column="CM_Price" property="cmPrice" />
    </resultMap>

</mapper>
