<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsLogSendstationworkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsLogSendstationwork">
        <result column="LTIME" property="ltime" />
        <result column="STATIONID" property="stationid" />
        <result column="AISLE" property="aisle" />
        <result column="DETAIL" property="detail" />
        <result column="TARGETNO" property="targetno" />
        <result column="PALLETID" property="palletid" />
        <result column="Info" property="Info" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CID" property="cid" />
        <result column="C_ID" property="cId" />
        <result column="CFBZ" property="cfbz" />
        <result column="PALLETID1" property="palletid1" />
    </resultMap>

</mapper>
