<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsErpStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsErpStation">
        <result column="LTIME" property="ltime" />
        <result column="StationID" property="StationID" />
        <result column="PalletID" property="PalletID" />
        <result column="QX" property="qx" />
        <result column="CHECKTIME" property="checktime" />
        <result column="SendBZ" property="SendBZ" />
        <result column="C_ID" property="cId" />
        <result column="CID" property="cid" />
        <result column="SendTime" property="SendTime" />
    </resultMap>

</mapper>
