<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsStoreBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsStoreBox">
        <id column="ID" property="id" />
        <result column="C_ID" property="cId" />
        <result column="STORE_ID" property="storeId" />
        <result column="PALLETID" property="palletid" />
        <result column="CHARG_D" property="chargD" />
        <result column="TRADE_CODE" property="tradeCode" />
        <result column="BOX_NO" property="boxNo" />
        <result column="SHIFT" property="shift" />
        <result column="NET_WEIGHT" property="netWeight" />
        <result column="GROSS_WEIGHT" property="grossWeight" />
        <result column="UNIT" property="unit" />
        <result column="BUNDLE_NUM" property="bundleNum" />
        <result column="PRODUCTION_DATE" property="productionDate" />
        <result column="BOX_CODE" property="boxCode" />
        <result column="STACK_CODE" property="stackCode" />
        <result column="PRODUCT_TYPE" property="productType" />
        <result column="DeviceID" property="DeviceID" />
        <result column="TubeWeight" property="TubeWeight" />
        <result column="BoxWeight" property="BoxWeight" />
        <result column="MATERIAL" property="material" />
        <result column="MATNAME" property="matname" />
        <result column="CATEGORY" property="category" />
        <result column="SPEC" property="spec" />
        <result column="BATCH" property="batch" />
        <result column="GRADE" property="grade" />
        <result column="DIRECT" property="direct" />
        <result column="YARN" property="yarn" />
        <result column="FIXBZ" property="fixbz" />
        <result column="DealFlag" property="DealFlag" />
        <result column="LTIME" property="ltime" />
        <result column="OUTFLOW_ID" property="outflowId" />
    </resultMap>

</mapper>
