<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsStationstatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsStationstatus">
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="StationNO" property="StationNO" />
        <result column="StationName" property="StationName" />
        <result column="QX" property="qx" />
        <result column="NUM" property="num" />
        <result column="LTime" property="LTime" />
        <result column="InUse" property="InUse" />
        <result column="BILLID" property="billid" />
    </resultMap>

</mapper>
