<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsSysCkbzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsSysCkbz">
        <result column="CKID" property="ckid" />
        <result column="CKNAME" property="ckname" />
        <result column="MEMO" property="memo" />
        <result column="ISINUSED" property="isinused" />
        <result column="ISSYS" property="issys" />
        <result column="CREATETIME" property="createtime" />
        <result column="USERID" property="userid" />
        <result column="ID" property="id" />
    </resultMap>

</mapper>
