<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsStore1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsStore1">
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="C_ID" property="cId" />
        <result column="PALLETID" property="palletid" />
        <result column="M_ID" property="mId" />
        <result column="NUM" property="num" />
        <result column="SWEIGHT" property="sweight" />
        <result column="MSTATUS" property="mstatus" />
        <result column="MCLASS" property="mclass" />
        <result column="MSPECIDEF_ID" property="mspecidefId" />
        <result column="VENDOR_ID" property="vendorId" />
        <result column="OUTCUSTOMER_ID" property="outcustomerId" />
        <result column="BATCHNO" property="batchno" />
        <result column="BATCHDEF_ID" property="batchdefId" />
        <result column="I_BILL_ID" property="iBillId" />
        <result column="MEMO" property="memo" />
        <result column="PRINTTIME" property="printtime" />
        <result column="PRODTIME" property="prodtime" />
        <result column="BC" property="bc" />
        <result column="PRODBC" property="prodbc" />
        <result column="RWEIGHT" property="rweight" />
        <result column="CM_Flag" property="cmFlag" />
        <result column="FIRSTINTIME" property="firstintime" />
        <result column="LASTOUTTIME" property="lastouttime" />
        <result column="STORESTATUS" property="storestatus" />
        <result column="MREASON" property="mreason" />
        <result column="CHECKFLAG" property="checkflag" />
        <result column="CHECKTIME" property="checktime" />
        <result column="ID" property="id" />
        <result column="Pallet_Num" property="palletNum" />
        <result column="PROLINEID" property="prolineid" />
        <result column="BILLID" property="billid" />
    </resultMap>

</mapper>
