<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsSysWarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsSysWarehouse">
        <result column="HouseID" property="HouseID" />
        <result column="HouseName" property="HouseName" />
        <result column="MEMO" property="memo" />
        <result column="ID" property="id" />
        <result column="CreateTime" property="CreateTime" />
        <result column="USERID" property="userid" />
        <result column="GCH" property="gch" />
    </resultMap>

</mapper>
