<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsRackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsRack">
        <id column="ID" property="id" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="CID" property="cid" />
        <result column="CELLCODE" property="cellcode" />
        <result column="PALLETID" property="palletid" />
        <result column="AISLE" property="aisle" />
        <result column="LAYER" property="layer" />
        <result column="RANK" property="rank" />
        <result column="ROWW" property="roww" />
        <result column="STATUS" property="status" />
        <result column="LASTTIME" property="lasttime" />
        <result column="PLATTYPE" property="plattype" />
        <result column="CELLCLASS" property="cellclass" />
        <result column="SPALLETID" property="spalletid" />
        <result column="LPALLETID" property="lpalletid" />
        <result column="CPALLETID" property="cpalletid" />
        <result column="XPALLETID" property="xpalletid" />
        <result column="CHECKFLAG" property="checkflag" />
        <result column="CHECKTIME" property="checktime" />
        <result column="MEMO" property="memo" />
        <result column="ERP_ID" property="erpId" />
        <result column="AREA_ID" property="areaId" />
        <result column="ISDEFAULT" property="isdefault" />
        <result column="ISINUSED" property="isinused" />
        <result column="ISSYS" property="issys" />
        <result column="WORKTYPE" property="worktype" />
        <result column="OPEBC" property="opebc" />
        <result column="ORDERID" property="orderid" />
        <result column="PalletStatus" property="PalletStatus" />
        <result column="TmpBZ" property="TmpBZ" />
        <result column="InOrder" property="InOrder" />
        <result column="OutOrder" property="OutOrder" />
    </resultMap>

</mapper>
