<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsSysTradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsSysTrade">
        <id column="ID" property="id" />
        <result column="TradeID" property="TradeID" />
        <result column="TradeCode" property="TradeCode" />
        <result column="TradeName" property="TradeName" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UserID" property="UserID" />
        <result column="MEMO" property="memo" />
    </resultMap>

</mapper>
