<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsStorecarrydayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsStorecarryday">
        <result column="LTIME" property="ltime" />
        <result column="CarryDaY" property="CarryDaY" />
        <result column="M_ID" property="mId" />
        <result column="STOREDef_ID" property="storedefId" />
        <result column="mStatus" property="mStatus" />
        <result column="preNum" property="preNum" />
        <result column="inNum" property="inNum" />
        <result column="outNum" property="outNum" />
        <result column="sNum" property="sNum" />
        <result column="MSPECIDEF_ID" property="mspecidefId" />
        <result column="ID" property="id" />
        <result column="SSWEIGHT" property="ssweight" />
        <result column="PRESWEIGHT" property="presweight" />
        <result column="INSWEIGHT" property="insweight" />
        <result column="OUTSWEIGHT" property="outsweight" />
    </resultMap>

</mapper>
