<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsDevlistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsDevlist">
        <result column="DevType" property="DevType" />
        <result column="DevNo" property="DevNo" />
        <result column="DevName" property="DevName" />
        <result column="Offset" property="Offset" />
        <result column="PLCNo" property="PLCNo" />
        <result column="PLCName" property="PLCName" />
        <result column="DevID" property="DevID" />
        <result column="PLCWord" property="PLCWord" />
        <result column="BitLong" property="BitLong" />
        <result column="LTime" property="LTime" />
        <result column="AlarmData1" property="AlarmData1" />
        <result column="AlarmData2" property="AlarmData2" />
        <result column="AlarmData3" property="AlarmData3" />
        <result column="AlarmData4" property="AlarmData4" />
        <result column="AlarmData5" property="AlarmData5" />
        <result column="HandJK" property="HandJK" />
        <result column="HandGZ" property="HandGZ" />
        <result column="HandDM" property="HandDM" />
        <result column="HandWX" property="HandWX" />
    </resultMap>

</mapper>
