<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TAsrsSysLeddefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TAsrsSysLeddef">
        <result column="LEDID" property="ledid" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="AISLE" property="aisle" />
        <result column="LEDIOCLASS" property="ledioclass" />
        <result column="LEDADDRESS" property="ledaddress" />
        <result column="LEDIP" property="ledip" />
        <result column="LEDCOMNO" property="ledcomno" />
        <result column="ID" property="id" />
        <result column="DEVNO" property="devno" />
        <result column="IsUsed" property="IsUsed" />
        <result column="CPalletID" property="CPalletID" />
        <result column="ALARM" property="alarm" />
        <result column="ledmemo" property="ledmemo" />
        <result column="ledmemo1" property="ledmemo1" />
        <result column="memo" property="memo" />
        <result column="MMTH" property="mmth" />
        <result column="CGTH" property="cgth" />
        <result column="ZWXTH" property="zwxth" />
        <result column="YWXTH" property="ywxth" />
        <result column="CCTH" property="ccth" />
        <result column="WXBHGTH" property="wxbhgth" />
        <result column="MPBFHYQTH" property="mpbfhyqth" />
    </resultMap>

</mapper>
