<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.TZLogMesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.TZLogMes">
        <result column="LTIME" property="ltime" />
        <result column="LCLASS" property="lclass" />
        <result column="FUNMAIN" property="funmain" />
        <result column="URL" property="url" />
        <result column="DATA" property="data" />
        <result column="FUNC" property="func" />
        <result column="DETAIL" property="detail" />
        <result column="MEMO" property="memo" />
        <result column="USERID" property="userid" />
        <result column="Method" property="Method" />
        <result column="XMLStatus" property="XMLStatus" />
        <result column="AREAID" property="areaid" />
    </resultMap>

</mapper>
