<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsAisleemptycelloldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsAisleemptycellold">
        <result column="AISLE" property="aisle" />
        <result column="Emptnum1" property="Emptnum1" />
        <result column="Emptnum2" property="Emptnum2" />
        <result column="INSTATUS" property="instatus" />
    </resultMap>

</mapper>
