<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsStorecarrymonthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsStorecarrymonth">
        <result column="M_ID" property="mId" />
        <result column="PRENUM" property="prenum" />
        <result column="INNUM" property="innum" />
        <result column="OUTNUM" property="outnum" />
        <result column="SNUM" property="snum" />
        <result column="CARRYdays" property="CARRYdays" />
        <result column="CARRYdaye" property="CARRYdaye" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="LTIME" property="ltime" />
        <result column="MATNAME" property="matname" />
        <result column="mmname" property="mmname" />
        <result column="mid" property="mid" />
        <result column="weight" property="weight" />
        <result column="mspeciname" property="mspeciname" />
    </resultMap>

</mapper>
