<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsStorerackCanusedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsStorerackCanused">
        <result column="STOREID" property="storeid" />
        <result column="STORENAME" property="storename" />
        <result column="rackstoredef_id" property="rackstoredefId" />
        <result column="rackstoredefname" property="rackstoredefname" />
        <result column="rackstoredefmemo" property="rackstoredefmemo" />
        <result column="rackpalletid" property="rackpalletid" />
        <result column="CID" property="cid" />
        <result column="AISLE" property="aisle" />
        <result column="LAYER" property="layer" />
        <result column="RANK" property="rank" />
        <result column="ROWW" property="roww" />
        <result column="RACKSTATUSNAME" property="rackstatusname" />
        <result column="AREAID" property="areaid" />
        <result column="AREANAME" property="areaname" />
        <result column="MEMO" property="memo" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="rackstoreid" property="rackstoreid" />
        <result column="C_ID" property="cId" />
        <result column="PALLETID" property="palletid" />
        <result column="NUM" property="num" />
        <result column="UsedNum" property="UsedNum" />
        <result column="SWeight" property="SWeight" />
        <result column="UsedWeight" property="UsedWeight" />
        <result column="BatchNo" property="BatchNo" />
        <result column="FIRSTINTIME" property="firstintime" />
        <result column="LASTOUTTIME" property="lastouttime" />
        <result column="PieceNumber" property="PieceNumber" />
        <result column="MSpecs" property="MSpecs" />
        <result column="GradeCode" property="GradeCode" />
        <result column="ProDate" property="ProDate" />
        <result column="Barcode" property="Barcode" />
        <result column="Charg" property="Charg" />
        <result column="Trade_Type" property="tradeType" />
        <result column="Product_Type" property="productType" />
        <result column="NWeight" property="NWeight" />
        <result column="PRODTIME" property="prodtime" />
        <result column="WareHouse" property="WareHouse" />
        <result column="RWeight" property="RWeight" />
        <result column="MNAME" property="mname" />
        <result column="MID" property="mid" />
        <result column="ID" property="id" />
        <result column="OUTSTATUS" property="outstatus" />
        <result column="Box_Type" property="boxType" />
    </resultMap>

</mapper>
