<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueStoreSumlistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueStoreSumlist">
        <result column="库房" property="库房" />
        <result column="货位代号" property="货位代号" />
        <result column="托盘号" property="托盘号" />
        <result column="批号" property="批号" />
        <result column="物料代号" property="物料代号" />
        <result column="产品状态" property="产品状态" />
        <result column="Status" property="Status" />
        <result column="数量" property="数量" />
        <result column="重量" property="重量" />
    </resultMap>

</mapper>
