<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsDevUserrolefuncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsDevUserrolefunc">
        <result column="USERIDCODE" property="useridcode" />
        <result column="USERID" property="userid" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="ISSA" property="issa" />
        <result column="ROLEID" property="roleid" />
        <result column="ROLENAME" property="rolename" />
        <result column="FCLASS" property="fclass" />
        <result column="FNAME" property="fname" />
        <result column="MENU1" property="menu1" />
        <result column="MENU2" property="menu2" />
        <result column="MENU3" property="menu3" />
        <result column="ALLMENU1" property="allmenu1" />
        <result column="ALLMENU2" property="allmenu2" />
        <result column="ALLMENU3" property="allmenu3" />
    </resultMap>

</mapper>
