<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueStorerackCanusedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueStorerackCanused">
        <result column="库房索引" property="库房索引" />
        <result column="库房代号" property="库房代号" />
        <result column="库房名称" property="库房名称" />
        <result column="货位库房索引" property="货位库房索引" />
        <result column="货位库房代号" property="货位库房代号" />
        <result column="货位库房名称" property="货位库房名称" />
        <result column="货位库房备注" property="货位库房备注" />
        <result column="货位索引" property="货位索引" />
        <result column="货位托盘号" property="货位托盘号" />
        <result column="货位代号" property="货位代号" />
        <result column="托盘号" property="托盘号" />
        <result column="巷道" property="巷道" />
        <result column="层" property="层" />
        <result column="列" property="列" />
        <result column="排" property="排" />
        <result column="货位状态" property="货位状态" />
        <result column="备注" property="备注" />
        <result column="数量" property="数量" />
        <result column="占用数量" property="占用数量" />
        <result column="批号" property="批号" />
        <result column="等级" property="等级" />
        <result column="箱数" property="箱数" />
        <result column="物料规格" property="物料规格" />
        <result column="生产日期" property="生产日期" />
        <result column="码单条码" property="码单条码" />
        <result column="码单号" property="码单号" />
        <result column="贸易类型" property="贸易类型" />
        <result column="生产类型" property="生产类型" />
        <result column="生产时间" property="生产时间" />
        <result column="SAP库位地址" property="SAP库位地址" />
        <result column="毛重" property="毛重" />
        <result column="物料名称" property="物料名称" />
        <result column="物料代号" property="物料代号" />
        <result column="可用数量" property="可用数量" />
        <result column="重量" property="重量" />
        <result column="占用重量" property="占用重量" />
        <result column="可用重量" property="可用重量" />
        <result column="索引" property="索引" />
        <result column="出库封闭" property="出库封闭" />
        <result column="纸箱类型" property="纸箱类型" />
        <result column="净重" property="净重" />
    </resultMap>

</mapper>
