<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueLogHistoryDevalarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueLogHistoryDevalarm">
        <result column="操作时间" property="操作时间" />
        <result column="设备号" property="设备号" />
        <result column="报警代码" property="报警代码" />
        <result column="报警内容" property="报警内容" />
        <result column="货位地址" property="货位地址" />
        <result column="托盘号" property="托盘号" />
        <result column="内容" property="内容" />
        <result column="报警信息" property="报警信息" />
        <result column="已处理标志" property="已处理标志" />
        <result column="备注" property="备注" />
    </resultMap>

</mapper>
