<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueLogMstatuschangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueLogMstatuschange">
        <result column="库房索引" property="库房索引" />
        <result column="库房代号" property="库房代号" />
        <result column="库房" property="库房" />
        <result column="库房备注" property="库房备注" />
        <result column="货位索引" property="货位索引" />
        <result column="货位库房索引" property="货位库房索引" />
        <result column="货位库房号" property="货位库房号" />
        <result column="货位库房" property="货位库房" />
        <result column="货位库房备注" property="货位库房备注" />
        <result column="货位代号" property="货位代号" />
        <result column="货位托盘号" property="货位托盘号" />
        <result column="巷道" property="巷道" />
        <result column="层" property="层" />
        <result column="列" property="列" />
        <result column="排" property="排" />
        <result column="货位状态号" property="货位状态号" />
        <result column="货位状态" property="货位状态" />
        <result column="ERP货位代号" property="ERP货位代号" />
        <result column="货位代码" property="货位代码" />
        <result column="托盘号" property="托盘号" />
        <result column="物料索引" property="物料索引" />
        <result column="物料代号" property="物料代号" />
        <result column="物料类别索引" property="物料类别索引" />
        <result column="物料类别代号" property="物料类别代号" />
        <result column="物料类别" property="物料类别" />
        <result column="物料类别备注" property="物料类别备注" />
        <result column="物料名称" property="物料名称" />
        <result column="图号" property="图号" />
        <result column="单位" property="单位" />
        <result column="单重" property="单重" />
        <result column="条码" property="条码" />
        <result column="物料备注" property="物料备注" />
        <result column="数量" property="数量" />
        <result column="重量" property="重量" />
        <result column="原产品状态号" property="原产品状态号" />
        <result column="原产品状态" property="原产品状态" />
        <result column="产品类别号" property="产品类别号" />
        <result column="产品类别" property="产品类别" />
        <result column="规格索引" property="规格索引" />
        <result column="规格号" property="规格号" />
        <result column="规格" property="规格" />
        <result column="规格重量" property="规格重量" />
        <result column="规格备注" property="规格备注" />
        <result column="供应商索引" property="供应商索引" />
        <result column="供应商代号" property="供应商代号" />
        <result column="供应商" property="供应商" />
        <result column="客户索引" property="客户索引" />
        <result column="客户代号" property="客户代号" />
        <result column="客户" property="客户" />
        <result column="批次" property="批次" />
        <result column="批次定义索引" property="批次定义索引" />
        <result column="入库单据索引" property="入库单据索引" />
        <result column="备注" property="备注" />
        <result column="打印时间" property="打印时间" />
        <result column="生产时间" property="生产时间" />
        <result column="班次" property="班次" />
        <result column="生产班次" property="生产班次" />
        <result column="入库时间" property="入库时间" />
        <result column="最后出库时间" property="最后出库时间" />
        <result column="库存状态号" property="库存状态号" />
        <result column="原因代码" property="原因代码" />
        <result column="需盘点" property="需盘点" />
        <result column="盘点时间" property="盘点时间" />
        <result column="索引" property="索引" />
        <result column="时间" property="时间" />
        <result column="当前班次" property="当前班次" />
        <result column="产品变更状态号" property="产品变更状态号" />
        <result column="用户代号" property="用户代号" />
        <result column="产品变更状态" property="产品变更状态" />
    </resultMap>

</mapper>
