<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueLog">
        <result column="操作时间" property="操作时间" />
        <result column="日志类别号" property="日志类别号" />
        <result column="日志类别" property="日志类别" />
        <result column="功能名称" property="功能名称" />
        <result column="功能按钮" property="功能按钮" />
        <result column="操作内容" property="操作内容" />
        <result column="备注" property="备注" />
        <result column="用户代号" property="用户代号" />
    </resultMap>

</mapper>
