<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysQueUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysQueUnit">
        <result column="单位代号" property="单位代号" />
        <result column="单位名称" property="单位名称" />
        <result column="基础单位索引" property="基础单位索引" />
        <result column="基础单位汇率" property="基础单位汇率" />
        <result column="索引" property="索引" />
    </resultMap>

</mapper>
