<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueOutputtmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueOutputtmp">
        <result column="单据索引" property="单据索引" />
        <result column="单据号" property="单据号" />
        <result column="单据类型号" property="单据类型号" />
        <result column="单据类型" property="单据类型" />
        <result column="事务类型号" property="事务类型号" />
        <result column="事物类型" property="事物类型" />
        <result column="库存索引" property="库存索引" />
        <result column="库房索引" property="库房索引" />
        <result column="库房代号" property="库房代号" />
        <result column="库房名称" property="库房名称" />
        <result column="货位索引" property="货位索引" />
        <result column="货位库房索引" property="货位库房索引" />
        <result column="货位库房号" property="货位库房号" />
        <result column="货位库房" property="货位库房" />
        <result column="货位库房备注" property="货位库房备注" />
        <result column="货位代号" property="货位代号" />
        <result column="货位托盘号" property="货位托盘号" />
        <result column="巷道" property="巷道" />
        <result column="层" property="层" />
        <result column="列" property="列" />
        <result column="排" property="排" />
        <result column="货位状态号" property="货位状态号" />
        <result column="货位状态" property="货位状态" />
        <result column="货位代码" property="货位代码" />
        <result column="托盘号" property="托盘号" />
        <result column="备注" property="备注" />
        <result column="入库时间" property="入库时间" />
        <result column="最后出库时间" property="最后出库时间" />
        <result column="库存状态号" property="库存状态号" />
        <result column="需盘点" property="需盘点" />
        <result column="盘点时间" property="盘点时间" />
        <result column="出库站台" property="出库站台" />
        <result column="出仓口" property="出仓口" />
        <result column="创建时间" property="创建时间" />
        <result column="创建用户" property="创建用户" />
        <result column="索引" property="索引" />
        <result column="CASEBACKNO" property="casebackno" />
        <result column="表体客户名称" property="表体客户名称" />
        <result column="部门名称" property="部门名称" />
        <result column="出库数量" property="出库数量" />
        <result column="出库重量" property="出库重量" />
        <result column="回库数量" property="回库数量" />
        <result column="状态名称" property="状态名称" />
        <result column="状态号" property="状态号" />
        <result column="单据创建时间" property="单据创建时间" />
        <result column="单据创建用户" property="单据创建用户" />
        <result column="物料代号" property="物料代号" />
        <result column="物料名称" property="物料名称" />
        <result column="物料规格" property="物料规格" />
        <result column="批号" property="批号" />
        <result column="等级" property="等级" />
        <result column="码单号" property="码单号" />
        <result column="码单条码" property="码单条码" />
        <result column="生产日期" property="生产日期" />
        <result column="生产时间" property="生产时间" />
        <result column="净重" property="净重" />
        <result column="毛重" property="毛重" />
        <result column="SAP库位号" property="SAP库位号" />
        <result column="箱数" property="箱数" />
        <result column="贸易类型" property="贸易类型" />
        <result column="生产类型" property="生产类型" />
        <result column="纸箱类型" property="纸箱类型" />
    </resultMap>

</mapper>
