<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueBill">
        <result column="单据号" property="单据号" />
        <result column="单据类型索引" property="单据类型索引" />
        <result column="单据类型号" property="单据类型号" />
        <result column="单据类型" property="单据类型" />
        <result column="事务类型号" property="事务类型号" />
        <result column="事物类型" property="事物类型" />
        <result column="红单标识号" property="红单标识号" />
        <result column="红单标识" property="红单标识" />
        <result column="前缀" property="前缀" />
        <result column="单据类型备注" property="单据类型备注" />
        <result column="库房索引" property="库房索引" />
        <result column="库房代号" property="库房代号" />
        <result column="库房" property="库房" />
        <result column="表头供应商索引" property="表头供应商索引" />
        <result column="表头供应商代号" property="表头供应商代号" />
        <result column="表头供应商" property="表头供应商" />
        <result column="表头客户索引" property="表头客户索引" />
        <result column="表头客户代号" property="表头客户代号" />
        <result column="表头客户" property="表头客户" />
        <result column="部门索引" property="部门索引" />
        <result column="部门代号" property="部门代号" />
        <result column="部门" property="部门" />
        <result column="备注" property="备注" />
        <result column="源库房索引" property="源库房索引" />
        <result column="源单据号" property="源单据号" />
        <result column="源供应商索引" property="源供应商索引" />
        <result column="源客户索引" property="源客户索引" />
        <result column="计划操作时间" property="计划操作时间" />
        <result column="计划完成时间" property="计划完成时间" />
        <result column="ERP单据号" property="ERP单据号" />
        <result column="单据号01" property="单据号01" />
        <result column="单据号02" property="单据号02" />
        <result column="单据号03" property="单据号03" />
        <result column="状态号" property="状态号" />
        <result column="状态" property="状态" />
        <result column="创建班次" property="创建班次" />
        <result column="创建时间" property="创建时间" />
        <result column="创建用户" property="创建用户" />
        <result column="表头索引" property="表头索引" />
        <result column="序号" property="序号" />
        <result column="物料代号" property="物料代号" />
        <result column="码单条码" property="码单条码" />
        <result column="计划数量" property="计划数量" />
        <result column="计划重量" property="计划重量" />
        <result column="数量" property="数量" />
        <result column="重量" property="重量" />
        <result column="完成数量" property="完成数量" />
        <result column="完成重量" property="完成重量" />
        <result column="产品状态号" property="产品状态号" />
        <result column="产品状态" property="产品状态" />
        <result column="产品类别号" property="产品类别号" />
        <result column="产品类别" property="产品类别" />
        <result column="规格索引" property="规格索引" />
        <result column="规格号" property="规格号" />
        <result column="规格1" property="规格1" />
        <result column="规格重量" property="规格重量" />
        <result column="供应商索引" property="供应商索引" />
        <result column="客户索引" property="客户索引" />
        <result column="批次定义索引" property="批次定义索引" />
        <result column="入库单据索引" property="入库单据索引" />
        <result column="打印时间" property="打印时间" />
        <result column="表体备注" property="表体备注" />
        <result column="装车门号" property="装车门号" />
        <result column="表体状态号" property="表体状态号" />
        <result column="车牌号" property="车牌号" />
        <result column="司机名称" property="司机名称" />
        <result column="表体创建时间" property="表体创建时间" />
        <result column="表体创建用户" property="表体创建用户" />
        <result column="索引" property="索引" />
        <result column="ERP上传时间" property="ERP上传时间" />
        <result column="ERP上传标示" property="ERP上传标示" />
        <result column="ERP回写信息" property="ERP回写信息" />
        <result column="贸易类型" property="贸易类型" />
        <result column="批号" property="批号" />
        <result column="等级" property="等级" />
        <result column="物料规格" property="物料规格" />
        <result column="纸箱类型" property="纸箱类型" />
    </resultMap>

</mapper>
