<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsWaitinstockbarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsWaitinstockbar">
        <result column="BarCode" property="BarCode" />
        <result column="TrayNo" property="TrayNo" />
        <result column="BarCodeDate" property="BarCodeDate" />
        <result column="PalletID" property="PalletID" />
        <result column="DelBZ" property="DelBZ" />
        <result column="LTime" property="LTime" />
        <result column="PlaceName" property="PlaceName" />
        <result column="BatchNo" property="BatchNo" />
        <result column="Writer" property="Writer" />
        <result column="WriteTime" property="WriteTime" />
        <result column="CompanyID" property="CompanyID" />
        <result column="SSOwner" property="SSOwner" />
        <result column="OwnerCompanyID" property="OwnerCompanyID" />
        <result column="StockID" property="StockID" />
        <result column="PlaceID" property="PlaceID" />
        <result column="ProductID" property="ProductID" />
        <result column="Grade" property="Grade" />
        <result column="PieceNumber" property="PieceNumber" />
        <result column="UnitNumber" property="UnitNumber" />
        <result column="UnitID" property="UnitID" />
        <result column="GrainNumber" property="GrainNumber" />
        <result column="BoxWeight" property="BoxWeight" />
        <result column="TongWeight" property="TongWeight" />
        <result column="MaoWeight" property="MaoWeight" />
        <result column="SZZD" property="szzd" />
        <result column="CustID" property="CustID" />
        <result column="PlanNo" property="PlanNo" />
        <result column="MachineID" property="MachineID" />
        <result column="OrderTypeID" property="OrderTypeID" />
        <result column="PackMachineID" property="PackMachineID" />
        <result column="SupplyID" property="SupplyID" />
        <result column="BrandID" property="BrandID" />
        <result column="ShowPackType" property="ShowPackType" />
        <result column="BoxNO" property="BoxNO" />
        <result column="Specs" property="Specs" />
        <result column="YarnName" property="YarnName" />
        <result column="TwistWayName" property="TwistWayName" />
        <result column="PolishName" property="PolishName" />
        <result column="GradeCode" property="GradeCode" />
        <result column="UnitName" property="UnitName" />
        <result column="StockName" property="StockName" />
        <result column="PeriodTypeName" property="PeriodTypeName" />
    </resultMap>

</mapper>
