<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsPlatstoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsPlatstore">
        <result column="palletid" property="palletid" />
        <result column="plattypedefid" property="plattypedefid" />
        <result column="plattypedefname" property="plattypedefname" />
    </resultMap>

</mapper>
