<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysQueIoclassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysQueIoclass">
        <result column="事务代号" property="事务代号" />
        <result column="事务名称" property="事务名称" />
        <result column="事务类型号" property="事务类型号" />
        <result column="事务类型" property="事务类型" />
        <result column="红单标识号" property="红单标识号" />
        <result column="红单标识" property="红单标识" />
        <result column="前缀" property="前缀" />
        <result column="备注" property="备注" />
        <result column="是否启用" property="是否启用" />
        <result column="启用标志" property="启用标志" />
        <result column="是否系统项号" property="是否系统项号" />
        <result column="是否系统项" property="是否系统项" />
        <result column="创建时间" property="创建时间" />
        <result column="创建用户" property="创建用户" />
        <result column="索引" property="索引" />
    </resultMap>

</mapper>
