<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysQueMatdetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysQueMatdet">
        <result column="物料编码" property="物料编码" />
        <result column="物料类别索引" property="物料类别索引" />
        <result column="物料类别号" property="物料类别号" />
        <result column="物料类别名称" property="物料类别名称" />
        <result column="物料类别备注" property="物料类别备注" />
        <result column="物料名称" property="物料名称" />
        <result column="规格型号" property="规格型号" />
        <result column="图号" property="图号" />
        <result column="单位" property="单位" />
        <result column="单重" property="单重" />
        <result column="包装数量" property="包装数量" />
        <result column="托盘承载量" property="托盘承载量" />
        <result column="条码标识" property="条码标识" />
        <result column="备注" property="备注" />
        <result column="库存上限" property="库存上限" />
        <result column="库存下限" property="库存下限" />
        <result column="保质期" property="保质期" />
        <result column="库存最大存储时限" property="库存最大存储时限" />
        <result column="是否启用" property="是否启用" />
        <result column="启用标志" property="启用标志" />
        <result column="是否系统项号" property="是否系统项号" />
        <result column="是否系统项" property="是否系统项" />
        <result column="创建时间" property="创建时间" />
        <result column="创建用户" property="创建用户" />
        <result column="索引" property="索引" />
        <result column="单价" property="单价" />
        <result column="所属区域索引" property="所属区域索引" />
        <result column="所属区域代码" property="所属区域代码" />
        <result column="所属区域名称" property="所属区域名称" />
        <result column="是否扫码" property="是否扫码" />
        <result column="是否定重" property="是否定重" />
        <result column="是否ERP物料" property="是否ERP物料" />
        <result column="满托箱数" property="满托箱数" />
    </resultMap>

</mapper>
