<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysIoclassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysIoclass">
        <result column="IOCLASS" property="ioclass" />
        <result column="IOCLASSNAME" property="ioclassname" />
        <result column="TRANTYPE" property="trantype" />
        <result column="trantypename" property="trantypename" />
        <result column="REDTYPE" property="redtype" />
        <result column="YESNONAME" property="yesnoname" />
        <result column="PREFIX" property="prefix" />
        <result column="MEMO" property="memo" />
        <result column="ISINUSED" property="isinused" />
        <result column="STATUSNAME" property="statusname" />
        <result column="ISSYS" property="issys" />
        <result column="redTypeName" property="redTypeName" />
        <result column="CREATETIME" property="createtime" />
        <result column="USERID" property="userid" />
        <result column="ID" property="id" />
    </resultMap>

</mapper>
