<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsStation">
        <result column="STATIONID" property="stationid" />
        <result column="DEVID" property="devid" />
        <result column="STATIONNAME" property="stationname" />
        <result column="STATUS" property="status" />
        <result column="STATUSNAME" property="statusname" />
        <result column="TARGETNO" property="targetno" />
        <result column="IOCLASS" property="ioclass" />
        <result column="IOCLASSNAME" property="ioclassname" />
        <result column="GATENO" property="gateno" />
        <result column="Aisle" property="Aisle" />
    </resultMap>

</mapper>
