<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysNamedefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysNamedef">
        <result column="nameid" property="nameid" />
        <result column="namedesc" property="namedesc" />
        <result column="memo" property="memo" />
        <result column="isedit" property="isedit" />
        <result column="iseditName" property="iseditName" />
        <result column="isinused" property="isinused" />
        <result column="issys" property="issys" />
        <result column="createtime" property="createtime" />
        <result column="userid" property="userid" />
        <result column="id" property="id" />
    </resultMap>

</mapper>
