<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsAislestatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsAislestatus">
        <result column="STORENAME" property="storename" />
        <result column="AISLE" property="aisle" />
        <result column="DEVSTATUS" property="devstatus" />
        <result column="STATUS" property="status" />
        <result column="INSTATUS" property="instatus" />
        <result column="OUTSTATUS" property="outstatus" />
        <result column="UPDATETIME" property="updatetime" />
        <result column="Emptnum" property="Emptnum" />
    </resultMap>

</mapper>
