<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsSysGateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsSysGate">
        <result column="GATENO" property="gateno" />
        <result column="GATENAME" property="gatename" />
        <result column="ISUSED" property="isused" />
        <result column="updatetime" property="updatetime" />
        <result column="FIRST" property="first" />
        <result column="SECOND" property="second" />
        <result column="THIRD" property="third" />
        <result column="FOUTH" property="fouth" />
        <result column="FIFTH" property="fifth" />
        <result column="SIXTH" property="sixth" />
        <result column="SEVENTH" property="seventh" />
        <result column="EIGHTH" property="eighth" />
    </resultMap>

</mapper>
