<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsRackEMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsRackE">
        <result column="aisle" property="aisle" />
        <result column="COUNTE" property="counte" />
    </resultMap>

</mapper>
