<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsOutputtmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsOutputtmp">
        <result column="IOCLASS" property="ioclass" />
        <result column="IOCLASSNAME" property="ioclassname" />
        <result column="TRANTYPE" property="trantype" />
        <result column="trantypename" property="trantypename" />
        <result column="REDTYPE" property="redtype" />
        <result column="redTypeName" property="redTypeName" />
        <result column="PREFIX" property="prefix" />
        <result column="STOREDEF_ID" property="storedefId" />
        <result column="STOREID" property="storeid" />
        <result column="STORENAME" property="storename" />
        <result column="C_ID" property="cId" />
        <result column="rackstoredef_id" property="rackstoredefId" />
        <result column="rackstoreid" property="rackstoreid" />
        <result column="rackstoredefname" property="rackstoredefname" />
        <result column="rackstoredefmemo" property="rackstoredefmemo" />
        <result column="CID" property="cid" />
        <result column="rackpalletid" property="rackpalletid" />
        <result column="AISLE" property="aisle" />
        <result column="LAYER" property="layer" />
        <result column="RANK" property="rank" />
        <result column="ROWW" property="roww" />
        <result column="rackstatus" property="rackstatus" />
        <result column="RACKSTATUSNAME" property="rackstatusname" />
        <result column="rackcellcode" property="rackcellcode" />
        <result column="PALLETID" property="palletid" />
        <result column="MEMO" property="memo" />
        <result column="FIRSTINTIME" property="firstintime" />
        <result column="LASTOUTTIME" property="lastouttime" />
        <result column="STORESTATUS" property="storestatus" />
        <result column="CHECKFLAG" property="checkflag" />
        <result column="CHECKTIME" property="checktime" />
        <result column="ID" property="id" />
        <result column="OUTSTATIONID" property="outstationid" />
        <result column="OUTGATENO" property="outgateno" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSER" property="createuser" />
        <result column="CASEBACKNO" property="casebackno" />
        <result column="OUTNUM" property="outnum" />
        <result column="headcustomername" property="headcustomername" />
        <result column="DEPTNAME" property="deptname" />
        <result column="BILLID" property="billid" />
        <result column="PLANNUM" property="plannum" />
        <result column="PLANSWEIGHT" property="plansweight" />
        <result column="NUM" property="num" />
        <result column="SWEIGHT" property="sweight" />
        <result column="FINISHNUM" property="finishnum" />
        <result column="FINISHSWEIGHT" property="finishsweight" />
        <result column="statusname" property="statusname" />
        <result column="STATUS" property="status" />
        <result column="BillCreatetimie" property="BillCreatetimie" />
        <result column="BillCreatetuser" property="BillCreatetuser" />
        <result column="MID" property="mid" />
        <result column="MNAME" property="mname" />
        <result column="MSpecs" property="MSpecs" />
        <result column="PRODTIME" property="prodtime" />
        <result column="Barcode" property="Barcode" />
        <result column="Charg" property="Charg" />
        <result column="Trade_Type" property="tradeType" />
        <result column="Product_Type" property="productType" />
        <result column="NWeight" property="NWeight" />
        <result column="RWeight" property="RWeight" />
        <result column="PieceNumber" property="PieceNumber" />
        <result column="ProDate" property="ProDate" />
        <result column="WareHouse" property="WareHouse" />
        <result column="BatchNo" property="BatchNo" />
        <result column="GradeCode" property="GradeCode" />
        <result column="BILL_ID" property="billId" />
        <result column="STORE_ID" property="storeId" />
        <result column="OUTWEIGHT" property="outweight" />
        <result column="BACKNUM" property="backnum" />
        <result column="GATENO" property="gateno" />
        <result column="VEHICLENO" property="vehicleno" />
        <result column="Box_Type" property="boxType" />
    </resultMap>

</mapper>
