<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VAsrsQueWaitinstockbarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VAsrsQueWaitinstockbar">
        <result column="箱号" property="箱号" />
        <result column="托盘码" property="托盘码" />
        <result column="箱号日期" property="箱号日期" />
        <result column="托盘号" property="托盘号" />
        <result column="删除标志" property="删除标志" />
        <result column="入库时间" property="入库时间" />
        <result column="批号" property="批号" />
        <result column="存放地点" property="存放地点" />
        <result column="库管员" property="库管员" />
        <result column="组盘时间" property="组盘时间" />
        <result column="规格" property="规格" />
        <result column="品名" property="品名" />
        <result column="归属" property="归属" />
        <result column="等级" property="等级" />
    </resultMap>

</mapper>
