<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VErpOutbillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VErpOutbill">
        <result column="BillID" property="BillID" />
        <result column="BillNo" property="BillNo" />
        <result column="CompanyID" property="CompanyID" />
        <result column="AutoBillNo" property="AutoBillNo" />
        <result column="InOutType" property="InOutType" />
        <result column="OutTypeName" property="OutTypeName" />
        <result column="OutJobNo" property="OutJobNo" />
        <result column="OutJobID" property="OutJobID" />
        <result column="OutJobDate" property="OutJobDate" />
        <result column="OutTrayNum" property="OutTrayNum" />
        <result column="OutPieceNum" property="OutPieceNum" />
        <result column="TrayNum" property="TrayNum" />
        <result column="PieceNum" property="PieceNum" />
        <result column="HasCheck" property="HasCheck" />
        <result column="Checker" property="Checker" />
        <result column="CheckTime" property="CheckTime" />
        <result column="Remark" property="Remark" />
        <result column="Writer" property="Writer" />
        <result column="WriteTime" property="WriteTime" />
        <result column="Modifier" property="Modifier" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="LTime" property="LTime" />
        <result column="CartNO" property="CartNO" />
        <result column="StartWork" property="StartWork" />
        <result column="ID" property="id" />
        <result column="PalletID" property="PalletID" />
        <result column="TrayNO" property="TrayNO" />
        <result column="ProductID" property="ProductID" />
        <result column="ProductCode" property="ProductCode" />
        <result column="Specs" property="Specs" />
        <result column="BatchNo" property="BatchNo" />
        <result column="BreedName" property="BreedName" />
        <result column="YarnName" property="YarnName" />
        <result column="PolishName" property="PolishName" />
        <result column="Expr1" property="Expr1" />
        <result column="InStockType" property="InStockType" />
        <result column="Expr2" property="Expr2" />
        <result column="OwnerCompanyID" property="OwnerCompanyID" />
        <result column="shortCompanyName" property="shortCompanyName" />
        <result column="UnitID" property="UnitID" />
        <result column="UnitName" property="UnitName" />
        <result column="StockID" property="StockID" />
        <result column="StockName" property="StockName" />
        <result column="ColorID" property="ColorID" />
        <result column="ColorCode" property="ColorCode" />
        <result column="ColorName" property="ColorName" />
        <result column="GradeID" property="GradeID" />
        <result column="GradeCode" property="GradeCode" />
        <result column="GradeName" property="GradeName" />
        <result column="MaoWeight" property="MaoWeight" />
        <result column="Weight" property="Weight" />
        <result column="PieceNumber" property="PieceNumber" />
        <result column="ProDate" property="ProDate" />
        <result column="BZ" property="bz" />
        <result column="Memo" property="Memo" />
    </resultMap>

</mapper>
