<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.mapper.VErpBatchnoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.print.entity.VErpBatchno">
        <result column="批号" property="批号" />
        <result column="规格" property="规格" />
        <result column="纱种" property="纱种" />
        <result column="捻向" property="捻向" />
        <result column="光泽" property="光泽" />
    </resultMap>

</mapper>
